* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    letter-spacing: 1px;
}

:root {
    --gradient-right-color: #252525;
    --gradient-left-color: #383d44;

}

/* Hero Section Start */

.hero-section {
    height: 73%;
    background: linear-gradient(190deg,
            var(--gradient-right-color) 20%,
            var(--gradient-left-color) 59.9%,
            #fff 60%);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}

.navbar .logo {
    display: flex;

    align-items: center;
}

.navbar .logo img {
    height: 30px;
}

.navbar .logo span {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}


.nav-links a {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 4rem;
    text-decoration: none;
}

.nav-links .nav-active {
    color: gold;
}


.hero-section-content {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-section-content .hero-content {
    width: 30vw;
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.hero-content p {
    color: #ddd;
    font-size: 1.4rem;
}

.hero-content button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.8rem;
    background-color: #009797;
    color: #fff;
    border: none;
    cursor: pointer;

}

/* Hero Box */


.hero-box {
    height: 300px;
    width: 450px;
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
    transform: rotate(-10deg);
    box-shadow: inset 0 4px 7px 1px #d2cfcf;
}


.hero-box .left-box {
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    /* padding: 1rem; */
}

.left-box .left-box-top {
    background: #ddd;
    height: 24%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;


}

.left-box-top div {
    height: 50px;
    width: 50px;
    border-radius: 1rem;
}

.left-box-top .box-1 {
    background: #00ffff8d;
}

.left-box-top .box-2 {
    background: #6ac96a;
}

.left-box-top .box-3 {
    background: #e9d253;
}

.left-box-top .box-4 {
    background: rgb(249, 58, 96);
}




.left-box-bottom {
    border: 2px solid #ddd;
    border-bottom-left-radius: 1rem;
}

.left-box-bottom .progress-box {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-box span {
    height: 5px;
    width: 10px;
    background-color: red;
    border-radius: 1rem;
}

.progress-box .progress-bar {
    width: 120px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.progress-box .progress {
    height: 100%;
    background: rgb(199, 197, 197);
    width: 0;
    transition: width 0.3s;
}




.hero-box .right-box {
    width: 30%;
    border: 3px solid #ddd;
    border-left: 0px;
    padding: 1rem;
    padding-block: 0.6rem;
    overflow: hidden;
}

.right-box .right-box-box {
    height: 20px;
    width: 100px;
    background: #ddd;
    margin-bottom: 1rem;
}

.right-box .right-one {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.right-box .right-two {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.right-box .right-box-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: skyblue;
    margin-block: 1rem;
    margin-left: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.right-box .right-inner-circle {
    height: 30px;
    width: 30px;

    background: greenyellow;
}

.right-box-one {
    margin-top: 2rem;
}

.right-box-one .progress-box,
.right-box-two .progress-box {
    margin-bottom: 1rem;

}

/* Hero Section Ends */


/* Explore Section Start */

.explore-section {
    height: 40vh;
    max-width: 70vw;
    margin: 0 auto;
    margin-top: -13rem;
    margin-bottom: 4cap;
    z-index: 99;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.explore-section-left {
    width: 40%;
    text-align: end;
}

.explore-section-logo {
    display: flex;
    justify-content: end;
    align-items: center;
}

.explore-section-logo h1 {
    margin-right: 1rem;
    font-size: 2.3rem;
    color: #009797;
    font-weight: 600;
}

.explore-section-left p {
    font-size: 1.6rem;
    color: #383d44;
    margin-block: 2rem;
}

.explore-section-left a {
    text-decoration: none;
    font-size: 2rem;
    color: #009797;
}

.hexagon {
    height: 50px;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    background: #3B8686;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon .circle {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon .circle i {
    font-size: 1.8em;
    color: #3B8686;
}




.explore-section-right {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: -3rem;
}

.explore-cards {
    position: relative;

}

.explore-cards .card {

    position: absolute;
    height: 350px;
    width: 300px;
    border-radius: 1rem;
    box-shadow: inset 0 0 5px 4px #80808037;
    overflow: hidden;
    z-index: 99;
    background: #fff;

}

.explore-cards .card-one {
    position: absolute;
    height: 240px;
    width: 300px;
    transform: translate(-150px, 50px);
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 0 10px 3px #80808037;
    overflow: hidden;

}

.explore-cards .card-two {
    position: absolute;
    height: 300px;
    width: 300px;
    background: white;
    transform: translate(-80px, 20px);
    z-index: 2;
    border-radius: 1rem;
    box-shadow: 0 0 10px 3px #80808037;
    overflow: hidden;

}

.card-back-top {
    padding-top: 1rem;
}

.card-top-box-inside-one {
    height: 1rem;
    width: 80px;
    background: #f2e4f6;
    margin-bottom: 1.4rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.card-top-box-inside-two {
    height: 30px;
    width: 80px;
    background: #f2e4f6;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.card-top-box-inside-three {
    height: 30px;
    width: 40px;
    background: #f2e4f6;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.explore-cards .card .card-top {
    height: 70%;
    background: #2bcef0;
    position: relative;
}



.card .card-top .card-lines-div {
    display: flex;
    justify-content: space-around;
    padding: 2rem;

}

.line {
    height: 15px;
    width: 100px;
    background: #bfe7fb;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.card-box {
    display: flex;
    justify-content: space-around;

}

.card-box-left {
    height: 40px;
    width: 50px;
    background: #ccf0fb;
    border-radius: 1rem;
}

.card-box-right {
    height: 40px;
    width: 150px;
    background: #ccf0fb;
    border-radius: 1rem;
}

.card-circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -40px;
    right: 40px;
    box-shadow: 0 0 4px 4px #ddd;


}

.card-cricle-triangle {
    height: 25px;
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background: linear-gradient(45deg, #c2bfbf, #c2bfbf);
    margin-left: 0.7rem;
}


.card-line {
    height: 20px;
    width: 120px;
    background: #c2bfbf99;
    margin-top: 4rem;
    margin-left: 2rem;
    border-radius: 1rem;

}

/* Explore Section Ends */
/* Feature Section Starts */

.feature-section {
    height: 80vh;
    background: linear-gradient(-190deg,
            #fff 37%,
            #eff2f39f 20%);
    margin-top: -25rem;
    padding-top: 30rem;
    display: flex;
    justify-content: center;

}

.feature-section-main {

    display: flex;
    justify-content: space-around;
}


.feature-left-content {
    width: 600px;
    padding: 2rem;
    margin-top: 4.5rem;
}

.feature-right {
    margin-top: 0;
}

.feature-section-right {
    margin-left: 5rem;

}

.feature-left-content h1 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #009797;
    margin-block: 1rem;
}

.feature-left-content p {
    font-size: 1.5rem;
    padding-block: 2rem;
    color: #8a8a8a;
}

.feature-left-content a {
    text-decoration: none;
    font-size: 1.9rem;
    color: #009797;

}

#feature-title {
    color: goldenrod;

}

.feature-left-logos {
    display: flex;
    max-width: fit-content;
    position: relative;
}

.feature-left-logos .hex-users {
    background: #36abf5;
    position: absolute;
    z-index: 3;

}

.feature-left-logos .hexagon {
    height: 60px;
}

.feature-left-logos .hexagon .circle {
    height: 40px;
    width: 40px;
}

.feature-left-logos .hexagon i {
    font-size: 2rem;

}

.hex-users p {
    font-size: 1rem;
    font-weight: 800;
    color: #36abf5;
}

.hex-group {
    background: #aed041;
    position: absolute;
    z-index: 2;
    left: 50px;
}

.hex-group i {
    color: #aed041 !important;

}

.hex-trophy {
    background: #fdd835;
    position: absolute;
    left: 100px;
}

.hex-trophy i {
    color: #fdd835 !important;
}


.right-logos {
    position: relative;

}

.hex-suitcase {
    background: #dec360;
    z-index: 2;
}

.hex-suitcase i {
    color: #dec360 !important;
}

.hex-building {
    background: #c7c7c7;
    position: absolute;
    left: 50px;
    z-index: 1;
}

.hex-building i {
    color: #c7c7c7 !important;
}


/* Feature Section Ends */
/* Developer Section Starts  */

.developer-section {
    height: 90vh;
    background: #eff2f39f;

}

.developer-section-content {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;


}

.developer-section-content .developer-top {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.developer-top .hexagon {
    height: 100px;
}

.developer-top .hexagon .circle {
    height: 70px;
    width: 70px;
}

.developer-top .hexagon i {
    font-size: 4rem;
}

.developer-top h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #009797;
    margin-block: 2rem;
}

.developer-top p {
    font-size: 1.7rem;
    color: #8a8a8a;
}


.developer-bottom {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.developer-bottom .developer-bottom-left {
    width: 78%;
}

.developer-bottom .developer-bottom-right {
    width: 20%;
    padding-inline: 1rem;
}

.navbar-iframe {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    padding: 10px;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 10px;
}

.navbar-iframe a {
    text-decoration: none;
}

.navbar-iframe button {
    background: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-iframe .code-run-btn {
    background: green;
    color: #fff;
}

.navbar-iframe .code-play-btn {
    background: #252525;
    color: #fff;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
    box-shadow: 0 0 5px 5px #ddd;
    background: #fff;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.developer-bottom-right p {
    font-size: 1.5rem;
    color: #009797;
    margin-block: 2rem;
}

.developer-bottom-right p:last-child {
    font-size: 1.4rem;
}

.developer-bottom-right .special-dev {
    padding: 1rem;
    box-shadow: 0px 0 5px 4px #ddd;
    border-radius: 0.5rem;
}

/* Developer Section Ends */
/* Footer Section Starts */


.footer {
    height: 70vh;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .hexagon {
    height: 100px;
    margin-top: -5rem;
    background: crimson;
}

.footer .hexagon .circle {
    height: 70px;
    width: 70px;
}

.footer .footer-top h1 {
    font-size: 2rem;
    margin-block: 2rem;
    color: crimson;
}

.footer-top p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #8a8a8a;
}

.footer-middle-logos {
    height: 40%;
}

.footer-bottom p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: #8a8a8a;

}

.footer-bottom .footer-link {
    color: #009797;
    margin-block: 2rem;
}

.footer-copyright {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin-top: 7rem;
    color: #8a8a8a;

}

.footer-copyright a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #8a8a8a;
}

/* Footer Section Ends */