* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    letter-spacing: 1px;
}

:root {
    --gradient-right-color: #252525;
    --gradient-left-color: #383d44;

}

/* Hero Section Start */

.hero-section {
    height: 73%;
    background: linear-gradient(190deg,
            var(--gradient-right-color) 20%,
            var(--gradient-left-color) 59.9%,
            #fff 60%);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}

.navbar .logo {
    display: flex;

    align-items: center;
}

.navbar .logo img {
    height: 30px;
}

.navbar .logo span {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}


.nav-links a {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 4rem;
    text-decoration: none;
}

.nav-links .nav-active {
    color: gold;
}


.hero-section-content {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-section-content .hero-content {
    width: 30vw;
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.hero-content p {
    color: #ddd;
    font-size: 1.4rem;
}

.hero-content button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.8rem;
    background-color: #009797;
    color: #fff;
    border: none;
    cursor: pointer;

}

/* Hero Box */


.hero-box {
    height: 300px;
    width: 450px;
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
    transform: rotate(-10deg);
    box-shadow: inset 0 4px 7px 1px #d2cfcf;
}


.hero-box .left-box {
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    /* padding: 1rem; */
}

.left-box .left-box-top {
    background: #ddd;
    height: 24%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;


}

.left-box-top div {
    height: 50px;
    width: 50px;
    border-radius: 1rem;
}

.left-box-top .box-1 {
    background: #00ffff8d;
}

.left-box-top .box-2 {
    background: #6ac96a;
}

.left-box-top .box-3 {
    background: #e9d253;
}

.left-box-top .box-4 {
    background: rgb(249, 58, 96);
}




.left-box-bottom {
    border: 2px solid #ddd;
    border-bottom-left-radius: 1rem;
}

.left-box-bottom .progress-box {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-box span {
    height: 5px;
    width: 10px;
    background-color: red;
    border-radius: 1rem;
}

.progress-box .progress-bar {
    width: 120px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.progress-box .progress {
    height: 100%;
    background: rgb(199, 197, 197);
    width: 0;
    transition: width 0.3s;
}








.hero-box .right-box {
    width: 30%;
    border: 3px solid #ddd;
    border-left: 0px;
    padding: 1rem;
    padding-block: 0.6rem;
    overflow: hidden;
}

.right-box .right-box-box {
    height: 20px;
    width: 100px;
    background: #ddd;
    margin-bottom: 1rem;
}

.right-box .right-one {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.right-box .right-two {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.right-box .right-box-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: skyblue;
    margin-block: 1rem;
    margin-left: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.right-box .right-inner-circle {
    height: 30px;
    width: 30px;

    background: greenyellow;
}

.right-box-one {
    margin-top: 2rem;
}

.right-box-one .progress-box,
.right-box-two .progress-box {
    margin-bottom: 1rem;

}

/* Hero Section Ends */
/* Explore Section Start */

.explore-section {
    height: 40vh;
    /* border: 2px solid red; */
    max-width: 70vw;
    margin: 0 auto;
    margin-top: -13rem;
    margin-bottom: 4cap;
    z-index: 99;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.explore-section-left {
    width: 40%;
    text-align: end;
}

.explore-section-logo {
    display: flex;
    justify-content: end;
    align-items: center;
}

.explore-section-logo h1 {
    margin-right: 1rem;
    font-size: 2.3rem;
    color: #009797;
    font-weight: 600;
}

.explore-section-left p {
    font-size: 1.6rem;
    color: #383d44;
    margin-block: 2rem;
}

.explore-section-left a {
    text-decoration: none;
    font-size: 2rem;
    color: #009797;
}

.hexagon {
    height: 50px;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    background: #3B8686;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon .circle {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon .circle i {
    font-size: 1.8em;
    color: #3B8686;
}




.explore-section-right {
    width: 60%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}



.explore-cards .card {
    height: 380px;
    width: 300px;
    border: 2px solid grey;

}

.explore-cards .card .card-top {
    height: 70%;
    background: #2bcef0;
    position: relative;
}

.card .card-top .card-lines-div {
    display: flex;
    justify-content: space-around;
    padding: 2rem;

}

.line {
    height: 15px;
    width: 100px;
    background: #bfe7fb;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.card-box {
    display: flex;
    justify-content: space-around;

}

.card-box-left {
    height: 40px;
    width: 50px;
    background: #ccf0fb;
    border-radius: 1rem;
}

.card-box-right {
    height: 40px;
    width: 150px;
    background: #ccf0fb;
    border-radius: 1rem;
}

.card-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    right: 10px;
    box-shadow: 0 0 4px 4px #ddd;


}

.card-cricle-triangle {
    height: 30px;
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background: linear-gradient(45deg, #c2bfbf, #c2bfbf);
}


.card-line {
    height: 10px;
    width: 150px;
    background: #c2bfbf;
    margin-top: 4rem;
    margin-left: 2rem;
    border-radius: 1rem;

}

/* Explore Section Ends */